
<div class="row row-offcanvas row-offcanvas-right">

  <div class="col-xs-12 col-sm-9">
    <p class="pull-right visible-xs">
      <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
    </p>
    <div class="jumbotron">
      <h1>Sample</h1>
      <p>This is an example to show the potential of an offcanvas layout pattern in Bootstrap. Try some responsive-range viewport sizes to see it in action.</p>
    </div>
    <div class="row">
      <% for post in latest_posts %>
        <div class="col-6 col-sm-6 col-lg-4">
          <h2><%= post.title %></h2>
          <div style="height:130px;"> <p><%= short_body(post) %></p> </div>
          <p><strong><%= link_to User.find(post.user_id).name, user_path(post.user.id) %></strong></p>
          <p><%=link_to "View details »", post_path(post), :class => "btn btn-default" %>
        </div><!--/span-->
      <% end %>
    </div><!--/row-->
  </div><!--/span-->

  <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
    <div class="list-group">
      <a href="#" class="list-group-item active">Link</a>
      <a href="#" class="list-group-item">Link</a>
      <a href="#" class="list-group-item">Link</a>
      <a href="#" class="list-group-item">Link</a>
      <a href="#" class="list-group-item">Link</a>
      <a href="#" class="list-group-item">Link</a>
      <a href="#" class="list-group-item">Link</a>
      <a href="#" class="list-group-item">Link</a>
      <a href="#" class="list-group-item">Link</a>
      <a href="#" class="list-group-item">Link</a>
    </div>
  </div><!--/span-->
</div><!--/row-->

<hr>




